@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #111;
  background-color: #f9f9f9;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
